.cart {
    position: fixed;
    right: 25px;
    z-index: 99;
}

.cart-icon {
    font-size: 40px;
    cursor: pointer;
    display: block;

    text-align: right;
}
.cart-badge {
    background-color: rgb(139, 25, 25);
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 20px;
}
.cart-list {
    position: relative;
    user-select: none;
    background-color: #e3e3e3;
    color: #111;
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    max-width: max-content;
    margin-top: -5px;
}
.cart-list::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 4px;
    rotate: 45deg;
    background-color: #e3e3e3;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-bottom: 1px solid #a4a4a4;
    cursor: pointer;
}
.cart-item:hover {
    background-color: #c8c8c8;
}
.cart-item-image {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 40px;
}
.cart-item-price {
    background-color: rgb(19, 128, 19);
    color: #e3e3e3;
    padding: 3px 7px;
    border-radius: 5px;
}
.reset {
    display: block;
    margin-inline: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
